body
{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
	font-size:18px;
}

#debug
{
	border: solid #f00 1px;
}

.main_container
{	
	margin: 0px auto;
}

.page_header
{
}

.page_title
{
	padding: 0.5em;
	border:solid #000 1px;
}

.page_left
{
	width:300px;
	float:left;
	font-size:1rem;
	border:solid #0F0 1px;
}

.page_left p:nth-child(1)
{
	font-weight:700;
	border:solid #fff 1px;
}

.page_left p:nth-child(2)
{
	font-size:0.75rem;
	border:solid #fff 1px;
}

.page_content
{
	width:800px;
	float:left;
	font-size:1rem;
	border:solid #00f 1px;
}

.page_content p:nth-child(1)
{
	font-size:1rem;
	border:solid #fff 1px;
}

.page_content p:nth-child(2)
{
	font-size:0.75rem;
	border:solid #fff 1px;
}
