body
{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
	font-size:18px;
}

#debug
{
	border:solid #f00 1px;
	background-color:#fff;
	color:#000;
}

#loading
{
	display:none;
	background-color:#fff;
}

#item_list div
{
	display:inline;
	padding: 0 0em 0 0;
}

h1 { font-size: 22px; }

h2 { font-size: 20px; }

h3 { font-size: 18px; }

.main_container
{	
	/*margin: 0px auto;*/
}

.page_title
{
	padding: 0.5em;
	border-bottom:solid #000 1px;
	font-size:22px;
	background-color:#999;
	color:#EEE;
}

.menu_bar
{
	padding:0.25em;
	background:#CCC;
	border-bottom: solid #999 1px;
}

.content
{
	border:solid #f00 2px;
	padding:1em;
	background-color:#fff;
}

li:first-child
{
	margin: 0.25 0 0.25em 0;
}

li
{
	margin: 0 0 0.25em 0;
}

