.app_form 
{
	margin: 0.25em;
	padding:0.25em;
	border: solid #00f 1px;
}

button, input[type="submit"]
{
	width:150px;
	border: solid #000 1px;
	padding: 0.25em;
	margin:0;
	background-color: #bbb;
}

button:hover, input[type="submit"]:hover
{
	background-color: #999;
}

form div
{
	margin: 0 0 0.25em 0;
	border: solid #030 0px;
}

.invalid_input
{
	background-color:#fff;
	border:solid #f00 1px;
}
.invalid_input::after
{
	content:"testing";
}


label
{
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

.form_list_item
{
	border:solid #bbb 1px;
	margin: 0 0 0.5em 0;
	padding: 0.25em;
}